<ng-container *ngIf="initalised; else loading">
  <ng-container *ngIf="!error && bac && vehicles; else errorTemplate">
    <ng-container *ngIf="vehicles.length > 0; else noVehicles">
      <h1>Here is a list of vehicles under the dealer - {{ bac }}</h1>
      <div>
        <mat-list role="list">
          <div *ngFor="let vehicle of vehicles">
            <app-vehicle-deatil [vehicle]="vehicle"></app-vehicle-deatil>
          </div>
        </mat-list>
      </div>
    </ng-container>
    <ng-template #noVehicles>
      <h1>No vehicles under the dealer - {{ bac }}</h1>
    </ng-template>
  </ng-container>
  <ng-template #errorTemplate>
    Fail to load the vehicles. Please try agin.
    <button
      mat-raised-button
      color="primary"
      (click)="loadDealerVehicles()"
      data-testid="reload-dealer-vehicles-button"
    >
      Reload
    </button>
  </ng-template>
</ng-container>
<ng-template #loading> <app-loading-page></app-loading-page> </ng-template>
